            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Selecione o cliente desejado</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


                <div class="row">
                    <form role="form" ng-submit="searchClientByNameOrCpf()">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                    <input type="text" class="form-control" placeholder="Busca a cliente pelo nome ou cpf" ng-model="search.searchString">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" style="float: right">Buscar Cliente</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>

            <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

            <div class="col-lg-6" id="searchDiv" style="overflow-y: scroll">

                <div ng-repeat="cliente in clientList.result" class="row">

                        <div class="panel  panel-primary" ng-hide="loading">
                            <div class="panel-body" style="padding: 5px">
                                <div class="col-lg-2">
                                    <div class="widget-user-image">
                                        <img class="img-circle-search" src="images/{{cliente.foto}}" alt="User Avatar">
                                    </div>
                                </div>
                                <!-- /.widget-user-image -->
                                <div class="col-lg-5">
                                    <h5 class="widget-user-username">{{cliente.name}} {{cliente.sobrenome}}</h5>
                                    <h5 class="widget-user-desc">{{cliente.cpf}}</h5>
                                </div>
                                <div class="col-lg-4">
                                 <button ng-click="redirectSearchPage(cliente.id)" class="btn-select btn-primary" style="float: right">Selecionar</button>
                                </div>
                            </div>
                        </div>

                </div>
            </div>

