<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Selecione a data desejada</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
    <div class="row col-lg-6">
        <form role="form" ng-submit="searchPayments()" >
             <div class="col-lg-3" style="max-width: 150px">
                <div class="form-group">
                    <div class="input-group">
                        <select class="form-control" ng-model="searchString.mes">
                            <option value="" disabled selected>Mês</option>
                            <option value="01">Janeiro</option>
                            <option value="02">Fevereiro</option>
                            <option value="03">Março</option>
                            <option value="04">Abril</option>
                            <option value="05">Maio</option>
                            <option value="06">Junho</option>
                            <option value="07">Julho</option>
                            <option value="08">Agosto</option>
                            <option value="09">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="max-width: 100px">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="ano" name="ano" ng-model="searchString.ano" placeholder="Ano">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary" style="float: right">Buscar Parcelas</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row " ng-show="paymentsFound">
    <div class="col-lg-12" style="max-width: 900px">

                <table id="tablePayments1" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Tratamento</th>
                        <th>Forma de Pagamento</th>
                        <th>Parcela</th>
                        <th>Valor</th>
                        <th>Data Prevista</th>
                        <th>Data do Pagamento</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="payment in payments">
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle">{{ payment.cliente }}</td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle">{{ payment.descricao}}</td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle">{{ payment.forma_pagamento}}</td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle">{{ payment.nro_parcela }} de {{payment.nro_parcelas}}</td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle">{{ payment.valor_parcela }}</td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle">{{ payment.data_prevista}}</td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle" ng-show="payment.pago">{{ payment.data_pagamento_confirmado}}</td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle" ng-hide="payment.pago">
                            <input class="form-control" name="data_pagamento_confirmado" ng-model="payment.data_pagamento_confirmado" style="width: 120px" ui-mask="99/99/9999" model-view-value="true">
                        </td>
                        <td style="padding: 5px 5px; text-align: left; vertical-align: middle">
                            <button ng-hide="payment.pago " ng-click="recordPaymentDate(payment)" class="btn btn-primary" style="float: left">Registar</button>
                            <img ng-show="payment.pago" class="img-circle" src="images/ico_pago.png" style="float: left">
                        </td>
                    </tr>
                    </tbody>
                </table>
    </div>
    <!-- /.panel -->

</div>


